body,
html {
  height: 100%;
  color: 0;
  line-height: 1.8;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
}

h1,
h2,
h3 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bolder;
}

/* -------------------NAVBAR-------------------------- */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
}

.nav-coloured {
  background-color: white !important;
  transition: background-color 100ms linear;
  box-shadow: black  0px 2px 10px;
}

.nav-transparent {
  background-color: transparent !important;
  transition: background-color 100ms linear;
  box-shadow: none;
}

.navbar-item-left {
  padding: 5px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  ;
}

.navbar-item-right {
  padding: 8px 16px;
  float: right;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  ;
}

.navbar-item-centre {
  padding: 8px 16px;
  float: right;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  ;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.button {
  text-decoration: none;
}

.nav-button {
  text-decoration: none;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 300ms ease-out;
}

.button:hover {
  font-size: 125%;
  scale: 1.2;
}

.nav-button:hover {
  background-color: #000;
  color: white;
  border-radius: 5px;
  transition: background-color 300ms ease-in;
  scale: 1.2;
}

/* -------------------BACKGROUND GRADIENTS---------------------- */

.bg-1 {
  background-image: url(stonehenge.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.bg-2,
.bg-3 {
  background-image:
    linear-gradient(to top right,
      hsl(330, 100%, 45.1%) 0%,
      hsl(331, 89.25%, 47.36%) 8.1%,
      hsl(330.53, 79.69%, 48.96%) 15.5%,
      hsl(328.56, 70.89%, 49.96%) 22.5%,
      hsl(324.94, 63.52%, 50.4%) 29%,
      hsl(319.21, 54.99%, 50.3%) 35.3%,
      hsl(310.39, 46.14%, 49.68%) 41.2%,
      hsl(296.53, 39.12%, 49.7%) 47.1%,
      hsl(280.63, 42.91%, 53.43%) 52.9%,
      hsl(265.14, 47.59%, 56.84%) 58.8%,
      hsl(250.13, 52.52%, 59.88%) 64.7%,
      hsl(235.88, 59.2%, 60.91%) 71%,
      hsl(225.81, 68.23%, 57.85%) 77.5%,
      hsl(218.93, 74.97%, 54.21%) 84.5%,
      hsl(213.89, 79.63%, 49.97%) 91.9%,
      hsl(210, 100%, 45.1%) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50%;
}

.white-text {
  color: white;
}

/* --------------------------------------------------------- */

.center-heading {
  font-style: italic;
  border-radius: 5px;
}

/* animation tags */
.animate-bottom {
  position: relative;
  animation: animatebottom 1.0s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

.animate-top {
  position: relative;
  animation: animatetop 0.7s
}

@keyframes animatetop {
  from {
    top: -100px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}


/* Position Tags*/
.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.center {
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.portfolio-image:hover {
  transform: scale(1.1);
}

.rounded {
  border-radius: 5px;
}

/* Colours */

.black {
  background-color: #E7E7E9;
}

.white {
  background-color: white;
}
 
.gray {
  background-color: gray;
}

.hidden {
  visibility: hidden;
}

.social {
  width: 20px;
  height: auto;
}

.social:hover {
  width: 30px;
  height: auto;
}

.border-black {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.opacity-min {
  opacity: 0.75
}

/* Horizontal Scroll TBD */

/* --------------------COOKIE NOTIFICATION------------------------ */
.cookie-wrapper {
  position: fixed;
  bottom: 25px;
  left: 25px;
  background-color: white;
  border-radius: 15px;
  max-width: 360px;
  padding: 25px 25px 30px 25px;
  text-align: center;
  box-shadow: black 3px 3px 10px;
}

.cookie-wrapper p{
  color: #858585;
}

.cookie-interact{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-button{
  border-radius: 5px;
  background-color: #858585;
  padding: 10px 15px;
  font-weight: 500px;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: black 3px 3px 10px;
  cursor: pointer;
}

.cookie-button:active{
  box-shadow: none;
}

.cookie-a{
  margin: 0 10px;
}

/* --------------------REVEAL ON SCROLL--------------------------- */

.hidden-scroll {
 opacity: 0;
 filter: blur(5px);
 transform: translateX(-100%);
 transition: all .75s ease-in-out;
}

.show-scroll {
 opacity: 1;
 filter: blur(0);
 transform: translateX(0%);
 transition: all .75 ease-in-out;
}

/* --------------------FOOTER--------------------------- */

.footer-element {
  font-size: smaller;
  font-family: "Lucida Console", "Courier New", monospace;
}

.footer-element:hover {
  font-size: 100.25%;
  transition: font-size 50ms linear;
}

/* --------------------DnD--------------------------- */
.item-gain {
  color: red;
  padding: 50px;
  font-style: italic;
}

.dndhpl {
  font-style: italic;
  color: green;
}